<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add a new talent</h1>
        <div style="width:30%; margin: 25px auto;">
            <form action="/seniors" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Talent Name:</label>
                    <input class="form-control" type="text" name="senior[name]" placeholder="Senior Name">
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <input class="form-control" type="text" name="senior[description]" placeholder="Senior Description">
                </div>
                <div class="form-group">
                    <label>What do you offer ? Separete by coma</label>
                    <input class="form-control" type="text" name="senior[skill]" placeholder="Offered services">
                </div>
                <div class="form-group">
                    <label>Service price:</label>
                    <input class="form-control" type="text" name="senior[price]" placeholder="Service price">
                </div>
                <div class="form-group">
                    <label>Type of talent to register: </label>
                    <div class="form-group">
                    <input type="radio" id="r1" name="senior[personType]" value="senior">
                    <label for="r1">Senior offering service</label><br>
                    <input type="radio" id="r2" name="senior[personType]" value="young">
                    <label for="r2">Young offering service</label><br>
                    <input type="radio" id="r3" name="senior[personType]" value="company">
                    <label for="r3">Company Service Provider</label><br>
                    <input type="radio" id="r4" name="senior[personType]" value="entertainment">
                    <label for="r4">Company Entertainment Provider</label><br>
                    </div>
                </div>
                <div class="form-group">
                     <button class="btn btn-large btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/seniors">Go back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>