<% include ./partials/header %>

    <style type="text/css">
        .auto-style1 {
            text-align: center;
        }
        .auto-style2 {
            width: 75%;
        }
        
        
    </style>
    
    <br><br>
    <div class="auto-style1 text-center">
        <table class="auto-style2" align="center">
            <tr>
                <td><img src="https://hips.hearstapps.com/housebeautiful.cdnds.net/17/33/1280x640/landscape-1502892920-leftovers-in-fridge.jpg?resize=1200:*" width="70%" id="image"></td>
                <td align="justify"><p>We are Leftovers, a company dedicated to helping out our planet while making it at the same time delicious. We provide one simple to use online platform where you can learn how to make and enjoy delicious and savoury meals with the leftovers you have. We offer countless recipes created by top chefs and our leftover community members that will blow your taste buds. Countless easy to make dishes at your fingertips ready to be searched and tasted by you. So what are you waiting for, open your fridge, take out your leftovers, and see how we can turn your to be discarded food into tasty goodness!</p></td>
            </tr>
            <tr>
                <td style="text-align:right"><p>Phone:</p></td>
                <td style="text-align:left"><p>&nbsp+1 514 490 1367</p></td>
            </tr>
            <tr>
                <td style="text-align:right"><p>Email:</p></td>
                <td style="text-align:left"><a href="mailto:contact@leftovers.com?Subject=Hello%20again" target="_top">&nbspcontact@leftovers.com</a></td>
            </tr>
        </table>
    </div>
    
<% include ./partials/footer %>

