<% include ./partials/header %>

    <style type="text/css">
        .auto-style1 {
            text-align: center;
        }
        .auto-style2 {
            width: 75%;
        }
        
        
    </style>
    
    <br><br>
    <div class="auto-style1 text-center">
        <table class="auto-style2" align="center">
            <tr>
                <td><img src="https://res.cloudinary.com/walterhenrike/image/upload/v1553636212/vln5htibucfbvsrak99n.jpg" width="150%" id="image"></td>
                <td align="justify"><p>“O-RA” is an online platform which is designed to fulfill seniors’ social needs by creating a connection between generations. <br>This will be done through 4 phases which will be offering four types of services. <br>The phases are: recreational activities,  daily home services, teaching (exchange / transfer skills and knowledge) and a free of charge networking page (where they can find friends of similar interests) that will help O-RA in cherishing the moments in our  seniors’ life. <br>Dedicated to its value proposition, O-RA will be striving into hard work to create a “new” Aura  of connection among generations .</p></td>
            </tr>
            <tr>
                <td><p>Phone:</p></td>
                <td style="text-align:left"><p>+1 514 490 1367</p></td>
            </tr>
            <tr>
                <td><p>Email:</p></td>
                <td style="text-align:left"><a href="mailto:contact@ora.com?Subject=Hello%20again" target="_top">contact@ora.com</a></td>
            </tr>
        </table>
    </div>
    
<% include ./partials/footer %>

