<% include ./partials/header %>

    <style type="text/css">
        .auto-style1 {
            text-align: center;
        }
        .auto-style2 {
            width: 50%;
        }
        
        
    </style>
    
    <br><br>
    <div class="auto-style1 text-center">
        <table class="auto-style2" align="center">
            <tr>
                <td><img src="https://www.hrreporter.com/dynamicdata/images/img3391_young_workers_group.jpg" width="75%" id="image"></td>
                <td><a href="/seniors/indexyoung" class="btn btn-success">Young people offering services</a></td>
            </tr>
            <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>
            <tr>
                <td><img src="https://cdn.images.express.co.uk/img/dynamic/50/590x/secondary/Old-worker-943708.jpg" width="75%"></td>
                <td><a href="/seniors/" class="btn btn-success" style="">Senior people offering services</a></td>
            </tr>
        </table>
    </div>
    
<% include ./partials/footer %>

