<!DOCTYPE html>
<html>
    <head>
        <title>O-Ra - Cheerishing moments</title>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
        <!--<link rel="stylesheet" href="/stylesheets/landing.css">-->
        <link rel="stylesheet" href="/stylesheets/assets/css/main.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel="icon" href="https://res.cloudinary.com/walterhenrike/image/upload/v1553636212/vln5htibucfbvsrak99n.jpg">
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
  <!--  <div id="landing-header">-->
 	<!--	<h1>Welcome to: <br>I Rate My Senior!</h1>-->
		<!--<a href="/seniors" class="btn btn-lg btn-success">Explore!</a>-->
  <!--  </div>-->
    
    <!--<ul class="slideshow">-->
    <!--    <li></li>-->
    <!--    <li></li>-->
    <!--    <li></li>-->
    <!--    <li></li>-->
    <!--    <li></li>-->
    <!--</ul>-->
    <!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="#">O-Ra - <span> Cherishing Moments</span></a></div>
				<!--<a href="#menu">Menu</a>-->
			</header>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<!--<img src="https://images.unsplash.com/photo-1543936014-81db3ef51ba2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2182&q=80" alt="" />-->
					<img src="https://i.imgur.com/OiiHGQe.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Cherishing Moments</p>
							<h2>O-Ra</h2>
							<a href="/aboutus" class="btn btn-lg btn-success">Visit</a>
							<!--<a href="/seniors" class="btn btn-lg btn-success">Enter the site!</a>-->
						</header>
					</div>
				</article>
				<article>
					<!--<img src="https://images.unsplash.com/photo-1508963493744-76fce69379c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" />-->
					<img src="https://eldercarealliance.org/app/uploads/seniors-doing-yoga-blog.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Chose activities in your surroundings</p>
							<h2>Activity Centres</h2>
							<a href="/seniors/indexentertainment" class="btn btn-lg btn-success">Visit</a>
						</header>
					</div>
				</article>
				<article>
					<!--<img src="https://images.unsplash.com/photo-1513159446162-54eb8bdaa79b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"  alt="" />-->
					<img src="https://i2.wp.com/amazinggracehomecare.org/wp-content/uploads/2015/07/canstockphoto8794622.jpg?resize=1080%2C675"  alt="" />
					<div class="inner">
						<header>
							<p>Do you need someone to help you today</p>
							<h2>Daily home services</h2>
							<a href="/seniors/indexcompany" class="btn btn-lg btn-success">Visit</a>
						</header>
					</div>
				</article>
				<article>
					<!--<img src="https://images.unsplash.com/photo-1489081449618-7e76dc369f11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"  alt="" />-->
					<img src="https://www.griswoldhomecare.com/metrowest-boston/files/bigstock-Teenage-Grandson-Helping-Grand-62503058.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Learn from the experts </p>
							<h2>Exchanging / Transferring Skills</h2>
							<a href="/choose" class="btn btn-lg btn-success">Visit</a>
						</header>
					</div>
				</article>
				<article>
					<!--<img src="https://images.unsplash.com/photo-1415226581130-91cb7f52f078?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"  alt="" />-->
					<img src="http://cms.cws.net/content/elder-network.org/images/board.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Feeling alone ? Find friends with similar interests and go out as your moments are worth cherishing</p>
							<h2>Networking</h2>
							<a href="/seniors" class="btn btn-lg btn-success">Visit</a>
						</header>
					</div>
				</article>
			</section>

		

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/stylesheets/assets/js/jquery.min.js"></script>
			<script src="/stylesheets/assets/js/jquery.scrollex.min.js"></script>
			<script src="/stylesheets/assets/js/skel.min.js"></script>
			<script src="/stylesheets/assets/js/util.js"></script>
			<script src="/stylesheets/assets/js/main.js"></script>

	</body>

<% //include partials/footer %>