<!DOCTYPE html>
<html>
    <head>
        <title>Leftovers</title>
        <link rel="stylesheet" href="/stylesheets/assets/css/main.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel="icon" href="https://res.cloudinary.com/walterhenrike/image/upload/v1553636212/vln5htibucfbvsrak99n.jpg">
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    

			<header id="header" class="alt">
				<div class="logo"><a href="#"><h3>Leftovers <span> - Full of Beans!</span></h3></a></div>
				<!--<a href="#menu">Menu</a>-->
			</header>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=931&q=80" width="50%" alt="" />
					<div class="inner">
						<header>
							<p>All eggs in one basket</p>
							<h2>Leftovers</h2>
							<a href="/recipes/" class="btn btn-lg btn-info">Start cooking!</a>
						</header>
					</div>
				</article>
				<article>
					<img src="https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"  alt="" />
					<div class="inner">
						<header>
							<p>Peas in a pod.</p>
							<h2>Leftovers</h2>
							<a href="/recipes/" class="btn btn-lg btn-info">Start cooking!</a>
						</header>
					</div>
				</article>
				<article>
					<img src="https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"  alt="" />
					<div class="inner">
						<header>
							<p>Go bananas!</p>
							<h2>Leftovers</h2>
							<a href="/recipes/" class="btn btn-lg btn-info">Start cooking!</a>
						</header>
					</div>
				</article>
				<article>
					<img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"  alt="" />
					<div class="inner">
						<header>
							<p>Apple of the eye</p>
							<h2>Leftovers</h2>
							<a href="/recipes/" class="btn btn-lg btn-info">Start cooking!</a>
						</header>
					</div>
				</article>
				<article>
					<img src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"  alt="" />
					<div class="inner">
						<header>
							<p>This is how the cookie crumbles</p>
							<h2>Leftovers</h2>
							<a href="/recipes/" class="btn btn-lg btn-info">Start cooking!</a>
						</header>
					</div>
				</article>
			</section>

		

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/stylesheets/assets/js/jquery.min.js"></script>
			<script src="/stylesheets/assets/js/jquery.scrollex.min.js"></script>
			<script src="/stylesheets/assets/js/skel.min.js"></script>
			<script src="/stylesheets/assets/js/util.js"></script>
			<script src="/stylesheets/assets/js/main.js"></script>

	</body>

