<% include ./partials/header %>

    <style type="text/css">
        .auto-style1 {
            text-align: center;
        }
        .auto-style2 {
            width: 53%;
        }
        .auto-style3 {
            text-align: justify;
        }
        .auto-style4 {
            width: 286px;
        }
    </style>
    
    <br><br>
<div class="auto-style1">
            <table align="center" class="auto-style2">
                <tr>
                    <td>
                        <img alt="" src="https://thecareforum.co.uk/wp-content/uploads/2017/03/Old-Person-Thumbs-Up.jpg" class="auto-style4" /></td>
                    <td class="auto-style3"><em style="box-sizing: border-box; font-style: italic; line-height: inherit; color: rgb(84, 83, 83); font-family: Merriweather; font-size: 16px; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><strong>BamaBoy, </strong>7<b style="box-sizing: border-box; font-weight: bold; line-height: inherit;">9<br style="box-sizing: border-box;" />
                        <br />
                        </b>I’m a born and raised Alabama boy, and like any good country boy I clean up good and know how to turn on the charm. I love spending the weekend outside exploring the area, BBQing with friends, and harassing my dog. (He secretly loves it, of course.)&nbsp;I will warn you that I dance like a fool at weddings. Really. I will embarrass&nbsp;you. But if I do my job right, you’ll be laughing too much to care.</em>                <a href="/message" class="btn btn-lg btn-success">Send a message</a>
</td>
                </tr>
                <tr>
                    <td><img alt="" src="https://townsquare.media/site/712/files/2017/05/Grumpy-Old-Man.jpg" class="auto-style4" /></td>
                    <td class="auto-style3"><em style="box-sizing: border-box; font-style: italic; line-height: inherit; color: rgb(84, 83, 83); font-family: Merriweather; font-size: 16px; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><strong>MustLuvDogs, 62 </strong>
                        <br style="box-sizing: border-box;" />
                        <em style="box-sizing: border-box; font-style: italic; line-height: inherit;">I’m a fun-loving guy who’s a happy dog-dad to my girl Roxie. My friends would probably describe me as goofy but somehow I always end up being the responsible one. I have a lot of hobbies to keep up with. At the moment I’m focused on softball and fishing. One helps me get out and be social and the other helps me get away from it all. If you don’t mind the pup or a little bit of a goof we could be a pretty good pair.</em></em>                <a href="/message" class="btn btn-lg btn-success">Send a message</a>
</td>
                </tr>
                <tr>
                    <td><img alt="" src="http://blogs.discovermagazine.com/seriouslyscience/files/2013/10/old-man.jpg" class="auto-style4" /></td>
                    <td class="auto-style3"><em style="box-sizing: border-box; font-style: italic; line-height: inherit; color: rgb(84, 83, 83); font-family: Merriweather; font-size: 16px; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><strong>Spaghetti Eddie, </strong> </em>
                        <span style="box-sizing: border-box; font-style: italic; line-height: inherit; color: rgb(84, 83, 83); font-family: Merriweather; font-size: 16px; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><strong>80</strong></span><br style="box-sizing: border-box; color: rgb(84, 83, 83); font-family: Merriweather; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;" />
                        <em style="box-sizing: border-box; font-style: italic; line-height: inherit; color: rgb(84, 83, 83); font-family: Merriweather; font-size: 16px; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="box-sizing: border-box; font-weight: 400;">I’m a creature of contradictions—An athletic bookworm, a night owl who’s an early riser, and an active guy who loves to be lazy on Sunday mornings. I’m always interested in learning new things whether it’s history, politics, or the guitar. (I started teaching myself piano last year and am loving the challenge so far.) I can also cook a mean baked tilapia or spaghetti dinner. Let me know if you’re interested or just give me some tips on 
                        my red sauce.<span>&nbsp;</span><img alt="😉" class="emoji" draggable="false" src="https://s.w.org/images/core/emoji/11/svg/1f609.svg" style="box-sizing: border-box; max-width: 100%; height: 1em !important; display: inline !important; vertical-align: -0.1em !important; border: none !important; box-shadow: none !important; width: 1em !important; margin: 0px 0.07em !important; background: none !important; padding: 0px !important;" /></span></em>                <a href="/message" class="btn btn-lg btn-success">Send a message</a>
</td>
                </tr>
                <tr>
                    <td><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Festival_Ringing_Cedars_2014_June_22_%D0%94%D0%B8%D0%BC%D0%BE%D0%BD_05.jpg" class="auto-style4" /></td>
                    <td class="auto-style3"><i style="box-sizing: border-box; font-style: italic; line-height: inherit; color: rgb(84, 83, 83); font-family: Merriweather; font-size: 16px; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="box-sizing: border-box; font-weight: 400;"><strong>ToniaGoesWest, 67</strong>
                        <br style="box-sizing: border-box;" />
                        I&nbsp; like my artsy with a little bit of fartsy. I love Sundays spent drinking massive amounts of coffee and lingering over newspapers and comics (yes, I read comics). And my Friday nights? Well you’ll just have to wait and see won’t you? Favorite Movie: An American Tale: Fievel Goes West. What can I say? I love that damn mouse and always had a thing for cowboys. Favorite Place: The fort I made in my basement when I was 11. My parents let me keep that thing up for a full eight &nbsp;months and it was magic. Favorite Food: Cheetos. Puffs. I don’t know what y’all are thinking with that crunchy crap.</span></i>                <a href="/message" class="btn btn-lg btn-success">Send a message</a>
</td>
                </tr>
                <tr>
                    <td><img alt="" src="https://i0.wp.com/smileshappen.org/wp-content/uploads/2017/07/What-Kind-of-Old-Person-Will-You-Be.jpg?fit=560%2C420&ssl=1" class="auto-style4" /></td>
                    <td class="auto-style3"><i style="box-sizing: border-box; font-style: italic; line-height: inherit; color: rgb(84, 83, 83); font-family: Merriweather; font-size: 16px; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="box-sizing: border-box; font-weight: 400;"><strong>LetsGo, 73</strong><br style="box-sizing: border-box;" />
&nbsp;You know that person in your group of friends who is always planning something but maybe gets a little too crazy about it sometimes? Well, that’s me. I’m an event planner by trade and love everything about it. Putting together experiences for people is great, but I like to create my own too! Perfect dates are going for a hike, followed by a visit to a new local brewery or trying a new dinner spot and taking a walk nearby. I work hard during the week, fill my weekends with activities, and definitely can be a big ball of energy at times. I’m looking for a guy who can keep up and keep me on my toes.</span></i>
                <a href="/message" class="btn btn-lg btn-success">Send a message</a>
                </td>
                </tr>
                <tr>
                    <td><img alt="" src="https://images.reference.com/reference-production-images/question/aq/what-do-you-call-a-90-year-old-person_d18bfab0-d537-4fd5-9d7c-44f9b83e18b1.jpg?width=760&height=411&fit=crop" class="auto-style4" /></td>
                    <td class="auto-style3"><i style="box-sizing: border-box; font-style: italic; line-height: inherit; color: rgb(84, 83, 83); font-family: Merriweather; font-size: 16px; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="box-sizing: border-box; font-weight: 400;"><strong>WhoYaGonnaCall, 83<br />
                        </strong>Bill Murray Movies. Adventures. Fancy Cheese. If you like any of these three things, we’ll get along great. If you like all three, you could just be the love of my life. Either way, I’m a fun-loving girl who’s new to the city and looking to meet some nice people. If you’d like to get together sometime, send me your favorite Bill Murray quote and we can start chatting.</span></i>
                        <a href="/message" class="btn btn-lg btn-success">Send a message</a>
                        </td>
                </tr>
            </table>
        </div>
    
<% include ./partials/footer %>

